SMTS_WebApi/SMTS_WebApi.v12.suo
SMTS_WebApi/SMTS_WebApi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SMTS_WebApi/packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/Microsoft.AspNet.WebApi.WebHost.5.2.3.nupkg
SMTS_WebApi/SMTS_WebApi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SMTS_WebApi/SMTS_WebApi.v12.suo
*.suo
*.cache
SMTS_WebApi/SMTS_WebApi/obj/Debug/SMTS_WebApi.csproj.FileListAbsolute.txt
SMTS_WebApi/SMTS_WebApi/obj/Debug/SMTS_WebApi.pdb
SMTS_WebApi/SMTS_WebApi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SMTS_WebApi/SMTS_WebApi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SMTS_WebApi/SMTS_WebApi/bin/SMTS_WebApi.dll
*.dll
SMTS_WebApi/SMTS_WebApi/bin/SMTS_WebApi.dll
*.pdb
SMTS_WebApi/SMTS_WebApi/obj/Debug/SMTS_WebApi.csproj.FileListAbsolute.txt
SMTS_WebApi/SMTS_WebApi/Scripts/_references.js
*.pdb
SMTS_WebApi/SMTS_WebApi/obj/Debug/SMTS_WebApi.csprojResolveAssemblyReference.cache
